<!DOCTYPE html>
</html>
    <head>
        <title>Objectif CRUD Node.js MongoDb</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../javascripts/nav.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
