doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme-3.3.2.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.2.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content